src/conf/xml-resources/web-service-references/MiBibliotecaWS/wsdl/ws.docencia.ces.siani.es/a01/MiBiblio/MiBibliotecaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="MiBibliotecaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://ws.docencia.ces.siani.es/a01/MiBiblio/MiBibliotecaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="devolver">
<part name="parameters" element="tns:devolver"/>
</message>
<message name="devolverResponse">
<part name="parameters" element="tns:devolverResponse"/>
</message>
<message name="comprar">
<part name="parameters" element="tns:comprar"/>
</message>
<message name="comprarResponse">
<part name="parameters" element="tns:comprarResponse"/>
</message>
<message name="registro">
<part name="parameters" element="tns:registro"/>
</message>
<message name="registroResponse">
<part name="parameters" element="tns:registroResponse"/>
</message>
<message name="misreservas">
<part name="parameters" element="tns:misreservas"/>
</message>
<message name="misreservasResponse">
<part name="parameters" element="tns:misreservasResponse"/>
</message>
<message name="reservar">
<part name="parameters" element="tns:reservar"/>
</message>
<message name="reservarResponse">
<part name="parameters" element="tns:reservarResponse"/>
</message>
<message name="penalizaciones">
<part name="parameters" element="tns:penalizaciones"/>
</message>
<message name="penalizacionesResponse">
<part name="parameters" element="tns:penalizacionesResponse"/>
</message>
<message name="gettipo">
<part name="parameters" element="tns:gettipo"/>
</message>
<message name="gettipoResponse">
<part name="parameters" element="tns:gettipoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="MiBibliotecaWS">
<operation name="devolver">
<input wsam:Action="http://webservice/MiBibliotecaWS/devolverRequest" message="tns:devolver"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/devolverResponse" message="tns:devolverResponse"/>
</operation>
<operation name="comprar">
<input wsam:Action="http://webservice/MiBibliotecaWS/comprarRequest" message="tns:comprar"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/comprarResponse" message="tns:comprarResponse"/>
</operation>
<operation name="registro">
<input wsam:Action="http://webservice/MiBibliotecaWS/registroRequest" message="tns:registro"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/registroResponse" message="tns:registroResponse"/>
</operation>
<operation name="misreservas">
<input wsam:Action="http://webservice/MiBibliotecaWS/misreservasRequest" message="tns:misreservas"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/misreservasResponse" message="tns:misreservasResponse"/>
</operation>
<operation name="reservar">
<input wsam:Action="http://webservice/MiBibliotecaWS/reservarRequest" message="tns:reservar"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/reservarResponse" message="tns:reservarResponse"/>
</operation>
<operation name="penalizaciones">
<input wsam:Action="http://webservice/MiBibliotecaWS/penalizacionesRequest" message="tns:penalizaciones"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/penalizacionesResponse" message="tns:penalizacionesResponse"/>
</operation>
<operation name="gettipo">
<input wsam:Action="http://webservice/MiBibliotecaWS/gettipoRequest" message="tns:gettipo"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/gettipoResponse" message="tns:gettipoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://webservice/MiBibliotecaWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice/MiBibliotecaWS/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="MiBibliotecaWSPortBinding" type="tns:MiBibliotecaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="devolver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="misreservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reservar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="penalizaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gettipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MiBibliotecaWS">
<port name="MiBibliotecaWSPort" binding="tns:MiBibliotecaWSPortBinding">
<soap:address location="http://ws.docencia.ces.siani.es/a01/MiBiblio/MiBibliotecaWS"/>
</port>
</service>
</definitions>